{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'navbar.css' %}">
    {% include 'navbar.html' %}
    <link rel="stylesheet" href="{% static 'profile.css' %}">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="row justify-content-center">
        <div class="col-lg-8 bg-white p-4">
            <div class="map-top">
                <div class="map-button-container">
                    <button class="map-select-button" data-button-id="1" id="button1">에란겔</button>
                    <button class="map-select-button" data-button-id="2" id="button2">미라마</button>
                    <button class="map-select-button" data-button-id="3" id="button3">사녹</button>
                    <button class="map-select-button" data-button-id="4" id="button4">비켄디</button>
                    <button class="map-select-button" data-button-id="5" id="button5">테이고</button>
                    <button class="map-select-button" data-button-id="6" id="button6">데스턴</button>
                </div>
            </div>
            <div class="img-container">
                <div id="content"></div>
                <div id="airplane-button-top"></div>
                <div id="airplane-button-right"></div>
                <div id="airplane-button-bottom"></div>
                <div id="airplane-button-left"></div>
            </div>
        </div>
    </div>
    <script src="{% static 'map_analysis.js' %}"></script>
</body>