{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'navbar.css' %}">
    {% include 'navbar.html' %}
    <link rel="stylesheet" href="{% static 'profile.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/font.css' %}">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        .table-two-cols, .table-four-cols {
            width: 100%;
        }
        .table-two-cols th, .table-two-cols td {
            width: 50%;
        }
        .table-four-cols th, .table-four-cols td {
            width: 25%;
        }
        .col-lg-8 {
            height: 100%;
            margin-top: 0;
            justify-content: center;
            align-items: center;    
        }
        body {
            font-family: SB;
        }
    </style>
</head>
<body>
    <div class="row justify-content-center">
        <div class="col-lg-8 bg-white p-4">
            <div style="background-color: rgb(85, 85, 85); color: white; padding: 10px; background-color: #8e8e8e; margin-right: 5px; margin-bottom: 5px; font-size: 24px; font-weight: bold; margin-top: -24px; margin-left: -24px; margin-right: -24px; text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;">{{weapon.weapon_tier}} 티어</div>
            <a href="javascript:history.back()" class="btn btn-secondary mb-3" style="position: absolute; right: 30px; top: 9px;">← 무기 목록</a>
            
            <div class="row justify-content-center align-items-center" style="margin-top: 30px; margin-bottom: 30px;">
                {% with weapon_obj=weapon %}
                <div class="col-lg-4">
                    
                    <img src="{% static 'weapons/'|add:weapon.weapon_name|add:'.JPG' %}" alt="{{ weapon.weapon_name }} 무기 이미지" style="max-width: 100%; max-height: 100%;">               
            </div>
                <div class="col-lg-8">
                    <div class="container">
                        <h2><b>무기상성</b></h2>
                        <table class="table table-bordered table-four-cols" style="width: 100%;">
                            <!-- 테이블 내용은 동일하게 유지 -->
                        <thead>
                            <tr>
                                <th colspan="2" style="font-size: 20px;">상대하기 쉬운 무기 TOP3</th>
                                <th colspan="2" style="font-size: 20px;">상대하기 어려운 무기 TOP3</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>무기</th>
                                <th>승률</th>
                                <th>무기</th>
                                <th>승률</th>
                            </tr>
                            <tr>
                                <th>{{ weapon_obj.first_easy_weapon }}</th>
                                <td>{{ weapon_obj.first_easy_percent|floatformat:2 }}%</td>
                                <th>{{ weapon_obj.first_hard_weapon }}</th>
                                <td>{{ weapon_obj.first_hard_percent|floatformat:2 }}%</td>
                            </tr>
                            <tr>
                                <th>{{ weapon_obj.second_easy_weapon }}</th>
                                <td>{{ weapon_obj.second_easy_percent|floatformat:2 }}%</td>
                                <th>{{ weapon_obj.second_hard_weapon }}</th>
                                <td>{{ weapon_obj.second_hard_percent|floatformat:2 }}%</td>
                            </tr>
                            <tr>
                                <th>{{ weapon_obj.third_easy_weapon }}</th>
                                <td>{{ weapon_obj.third_easy_percent|floatformat:2 }}%</td>
                                <th>{{ weapon_obj.third_hard_weapon }}</th>
                                <td>{{ weapon_obj.third_hard_percent|floatformat:2 }}%</td>
                            </tr>
                        </tbody>
                    </table>            
                </div>
            </div>
            {% endwith %}
        </div>

          <div class="row">
            <div class="col-lg-10 offset-lg-1">
              <h2><b><div class="tier1-header">Parts 선호도</div></b></h2>
              {% for part_type in weapon_parts_type_all %}
              {% if part_type.parts|length > 0 %}
                <div class="category-section">
                  <div class="part-type-name"><b>{{ part_type.name }}</b></div>
                  <div class="row">
                    {% for part in part_type.parts %}
                      <div class="col-lg-2">
                        <div class="part-info">
                          <img src="{% static 'parts/'|add:part.parts_name|add:'.JPG' %}" alt="{{ part.parts_name }}" style="width: 100%;">
                          <p class="part-utilization"><b>사용률: {{ part.utilization_rate }}%</b></p>
                        </div>
                      </div>
                      {% if forloop.counter|divisibleby:6 %}
                        <div class="w-100"></div>
                      {% endif %}
                    {% endfor %}
                  </div>
                </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
          
          
            {% with weapon_image_path=graph_url %}
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                  <div class="distance-section">
                    <div class="text-center">
                        <h2 class="distance-name">거리에 따른 킬 퍼포먼스</h2>
                        <img src="{{ weapon_image_url }}" alt="{{ weapon.weapon_name }} 무기 거리분석" class="img-fluid weapon-image">
                    </div>
                    </div>
                </div>
            </div>
            {% endwith %}
        </div>
    </div>
</body>
</html>